In [ ]:
-- 코드를 입력하세요
SELECT CAR_ID, ROUND(AVG(DATEDIFF(END_DATE,START_DATE)+1),1) AS AVERAGE_DURATION
FROM CAR_RENTAL_COMPANY_RENTAL_HISTORY
GROUP BY CAR_ID
HAVING AVG(DATEDIFF(END_DATE,START_DATE)+1) >= 7
ORDER BY AVERAGE_DURATION DESC, CAR_ID DESC;

//DATEDIFF를 사용했을 경우 시작일과 마지막날짜의 차이만 계산하기 떄문에 +1을 진행해 시작일을 포함해줘야함

In [ ]:
-- 코드를 입력하세요
SELECT BOARD_ID,WRITER_ID,TITLE,PRICE,
CASE STATUS 
WHEN 'SALE' THEN '판매중'
WHEN 'RESERVED' THEN '예약중'
WHEN 'DONE' THEN '거래완료'
END AS STATUS
FROM USED_GOODS_BOARD
WHERE DATE_FORMAT(CREATED_DATE, '%Y-%m-%d') = '2022-10-05'
ORDER BY BOARD_ID DESC;

//기본적으로 CASE WHEN에는 ,를 넣지않고 진행한다. 항상 끝에는 END를 사용해서 마무리 해야함 
DATE_FORMAT(CREATED_DATE, '%Y-%m-%d') = '2022-10-05' DATE_FORMAT을 사용해서 날짜를 뽑아도 되고, 
YEAR(CREATED_DATE) = 2022 AND MONTH(CREATED_DATE) = 10 AND DAY(CREATED_DATE) = 5 이 방식으로도 가능하다.

In [ ]:
-- 코드를 입력하세요
SELECT DATETIME AS '시간'
FROM ANIMAL_INS 
ORDER BY DATETIME ASC
LIMIT 1;

"""
동물 보호소에 가장 먼저 들어온 동물은 언제 들어왔는지 조회하는 SQL 문을 작성할 때 위와 같은 방식으로 진행해도 되고,
SELECT MIN(DATETIME) AS '시간'
FROM ANIMAL_INS; 
해당방식으로 진행해도 됨
"""

### 1일차 -------------------------------------------------------------------------------

In [ ]:
-- 코드를 입력하세요
SELECT ANIMAL_ID,NAME, 
CASE SEX_UPON_INTAKE 
WHEN 'Neutered Male' THEN 'O'
WHEN 'Spayed Female' THEN 'O'
WHEN 'Intact Male' THEN 'X'
END AS '중성화'
FROM ANIMAL_INS 
ORDER BY ANIMAL_ID ASC;

----------------------------------------------------------
SELECT ANIMAL_ID,
       NAME,
       CASE
           WHEN SEX_UPON_INTAKE LIKE '%Neutered%' THEN 'O'
           WHEN SEX_UPON_INTAKE LIKE '%Spayed%'  THEN 'O'
           ELSE 'X'
       END AS 중성화
FROM ANIMAL_INS
ORDER BY ANIMAL_ID ASC;

//문제에서는 SEX_UPON_INTAKE 칼럼안에 3개의 상태에서 대해서만 말했서 전자와 같은 방식으로 진행해서 실행했을 떄 값을 잘 나왔지만 틀리는 경우로 발생
이유로는 문제에는 안보였지만, 다른 값들이 존재했기 떄문임 그래서 해결방법으로 
두개의 경우가 아닌경우에는 X로 치환했을 떄 성공적으로 실행됨

In [ ]:
-- 코드를 입력하세요
SELECT 
CASE 
WHEN PRODUCT_ID IN (1,2) THEN 'A1' 
WHEN PRODUCT_ID IN (3,4,5) THEN 'C3' 
WHEN PRODUCT_ID IN (6) THEN 'K1'
END AS CATEGORY,COUNT(*) AS PRODUCTS
FROM PRODUCT
GROUP BY CATEGORY
ORDER BY CATEGORY ASC;
-------------------------------------------------------------------
SELECT LEFT(PRODUCT_CODE, 2) AS CATEGORY,
       COUNT(*) AS PRODUCTS
FROM PRODUCT
GROUP BY LEFT(PRODUCT_CODE, 2)
ORDER BY CATEGORY ASC;

//처음에는 PRODUCT_ID의 첫 2글자만 추출해서 숫자에 맞게 A1,C3,K1을 설정해주면 될 줄 알아서 CASE문을 사용했지만 예제를 실행했을 때 6이상의 숫자들이 나와서 NULL값이 나와서
틀리기 되는 상황이 나와버렸다. 이 문제를 해결하기 위해서는 CASE문을 사용하지말고 앞 두글자를 추출해서 하면 되는 후자방법을 사용하면 된다.

In [ ]:
-- 코드를 입력하세요
SELECT HOUR(DATETIME) AS HOUR, COUNT(*) AS COUNT
FROM ANIMAL_OUTS 
WHERE HOUR(DATETIME) BETWEEN 9 AND 19
GROUP BY HOUR
ORDER BY HOUR ASC;

//09시부터 19:59시까지 1시간단위로 조회를 진행해야 할 때 시간단위는 HOUR를 통해서 끊고, 시간은 WHERE 조건을 이용해서 필터링한다.

In [ ]:
-- 코드를 입력하세요
SELECT CASE
WHEN PRICE BETWEEN 0 AND 9999 THEN '0'
WHEN PRICE BETWEEN 10000 AND 19999 THEN '10000'
WHEN PRICE BETWEEN 20000 AND 29999 THEN '20000'
WHEN PRICE BETWEEN 30000 AND 39999 THEN '30000'
END AS PRICE_GROUP,
COUNT(*) AS PRODUCTS
FROM PRODUCT 
GROUP  BY PRICE_GROUP
ORDER BY PRICE_GROUP ASC;
-----------------------------------------------------

SELECT 
    (PRICE DIV 10000) * 10000 AS PRICE_GROUP,
    COUNT(*) AS PRODUCTS
FROM PRODUCT
GROUP BY PRICE_GROUP
ORDER BY PRICE_GROUP ASC;

//전자처럼 해버리면 출력시 해당 조건값만 있는게 아닐 경우에는 조건값이 아닌경우들이 카운트가 되버려서 실행시 표시가 안되는 모습이 보여지기 때문에, 후자와 같이 가격을 10000으로
나누어 한자리수의 정수로 만든 후에 10000을 곱해 구간을 정해준다.

In [ ]:
-- 코드를 입력하세요
SELECT A.PRODUCT_CODE, SUM(A.PRICE * B.SALES_AMOUNT) AS SALES
FROM PRODUCT A JOIN OFFLINE_SALE B ON A.PRODUCT_ID = B.PRODUCT_ID
GROUP BY A.PRODUCT_CODE
ORDER BY SALES DESC ,A.PRODUCT_CODE ASC;

----------------------
-문제-
PRODUCT 테이블과 OFFLINE_SALE 테이블에서 상품코드 별 매출액(판매가 * 판매량) 합계를 출력하는 SQL문을 작성해주세요. 
결과는 매출액을 기준으로 내림차순 정렬해주시고 매출액이 같다면 상품코드를 기준으로 오름차순 정렬해주세요.
//판매량을 처음에는 COUNT를 이용해서 개수를 카운트해야 하는 줄 알았는데, 그게 아니라 그룹화가 이미 되어있어서 합계만 해줘도 되는거였다.

In [ ]:
-- 코드를 작성해주세요
SELECT YEAR(YM) AS YEAR,ROUND(AVG(PM_VAL1),2) AS "PM10" ,ROUND(AVG(PM_VAL2),2) AS "PM2.5"
FROM AIR_POLLUTION
WHERE LOCATION2 = "수원"
GROUP BY YEAR(YM)
ORDER BY YEAR ASC;


//간단하지만 몰랐던 것 평균을 낸 값을 반올림 해야 했지만, 난 처음에 반올림 후에 평균을 함

In [ ]:
-- 코드를 작성해주세요
SELECT ROUTE,CONCAT(ROUND(SUM(D_BETWEEN_DIST),1),'km') AS TOTAL_DISTANCE,CONCAT(ROUND(AVG(D_BETWEEN_DIST),2),'km') AS AVERAGE_DISTANCE
FROM SUBWAY_DISTANCE 
GROUP BY ROUTE
ORDER BY SUM(D_BETWEEN_DIST) DESC;

//단순 문자열 더해주는건 CONCAT을 이용하면 됨

In [ ]:
-- 코드를 작성해주세요
SELECT CASE
WHEN MONTH(DIFFERENTIATION_DATE) BETWEEN 1 AND 3 THEN '1Q'
WHEN MONTH(DIFFERENTIATION_DATE) BETWEEN 4 AND 6 THEN '2Q'
WHEN MONTH(DIFFERENTIATION_DATE) BETWEEN 7 AND 9 THEN '3Q'
WHEN MONTH(DIFFERENTIATION_DATE) BETWEEN 10 AND 12 THEN '4Q'
END AS QUARTER,
COUNT(*) AS ECOLI_COUNT
FROM ECOLI_DATA 
GROUP BY QUARTER
ORDER BY QUARTER ASC;
-------------------------------------------------------------------
SELECT CONCAT(QUARTER(DIFFERENTIATION_DATE),'Q') AS QUARTER,COUNT(*) AS ECOLI_COUNT
FROM ECOLI_DATA
GROUP BY QUARTER
ORDER BY QUARTER;

//두개 방식 둘 다 가능하다.

In [ ]:
-- 코드를 작성해주세요
SELECT YEAR(DIFFERENTIATION_DATE) AS YEAR , 
MAX(SIZE_OF_COLONY) OVER (PARTITION BY YEAR(DIFFERENTIATION_DATE)) - SIZE_OF_COLONY AS YEAR_DEV
,ID
FROM ECOLI_DATA 
ORDER BY YEAR ASC, YEAR_DEV ASC;

//OVER (PARTITION BY YEAR(DIFFERENTIATION_DATE)) 를 통해서 각 년도별로 그룹을 나누게 되는데 MAX(SIZE_OF_COLONY) 연도안에서 가장 큰값을 뽑아내게 된다. 이후 자기자신을
빼서 편차를 구할 수 있게 된다.

SELECT YEAR(DIFFERENTIATION_DATE) AS YEAR , (M.MAX_SIZE - E.SIZE_OF_COLONY) AS YEAR_DEV, E.ID
FROM ECOLI_DATA E
JOIN 
    (SELECT YEAR(DIFFERENTIATION_DATE) AS YEAR ,MAX(SIZE_OF_COLONY) AS MAX_SIZE
     FROM ECOLI_DATA
     GROUP BY YEAR(DIFFERENTIATION_DATE)
    ) M ON YEAR(E.DIFFERENTIATION_DATE) = M.YEAR
ORDER BY YEAR ASC, YEAR_DEV ASC;

//서브쿼리 사용해서 해결

In [ ]:
SELECT C.ID, C.GENOTYPE, P.GENOTYPE AS PARENT_GENOTYPE
FROM ECOLI_DATA C JOIN ECOLI_DATA P ON C.PARENT_ID = P.ID
WHERE C.GENOTYPE & P.GENOTYPE = P.GENOTYPE
ORDER BY C.ID ASC;

//
C.GENOTYPE & P.GENOTYPE = P.GENOTYPE #자식이 부모의 형질을 가지는 것만 출력해야하기 때문에 해당 조건으로 진행
ECOLI_DATA라는 테이블안에 부모와 자식의 데이터가 있기 떄문에 같은 테이블을 두 번 불러서 자식(C) ↔ 부모(P) 관계를 연결 해야 해서 SELF조인을 진행
ECOLI_DATA P ON C.PARENT_ID = P.ID 자식이 부모의 ID값을 부모는 자신의 ID값이 일치해야 연결이된다.